*{
    font-family: sans-serif;
    font-size: large;
}

html {
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    flex: 0 60px;
    background: rgba(247, 183, 5, 0.4);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: rgba(75, 102, 38, 0.4);
}

footer {
    flex: 0 30px;
    color: rgb(75, 102, 38,);
    background: rgba(247, 183, 5, 0.4);
}

footer a {
    float: right;
}

/*.trick-mastered {
  margin: 0;
	padding: 10px 0 10px 50px;
	list-style: none;
	background-image: url("emptyBone.JPG");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
	border-radius: 15%;
}*/

@media (orientation: portrait) {
	main {
	  flex-direction: column;
	}
  }
  
  @media (max-height: 500px) {
	header {
	  display: none;
	}
	footer {
	  display: none;
	}
  }