body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
}

.trick-list {
	margin: 0;
	padding: 10px 0 10px 50px;
	list-style: none;
	background-image: url("yellowBone.JPG");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    
    display: flex;
    flex-direction: column;
}